* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey-background-color: #708090;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1.25rem;
}

.main-content-container {
    background-color: var(--grey-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.main-content {
    background-color: white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
    border-radius: 0.25rem;
}

.bar-chart-tooltip {
    position: absolute;
    background-color: azure;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    border-radius: 0.25rem;
    padding: 1.5rem 1.25rem;
    text-align: center;
}

.bar:hover {
    fill: #fff;
}
